* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

/*Front page styling*/

#frontpage {
    /*Background on frontpage*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.40)), url(images/MikkelHome.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
    max-width: 100%;
    
    /*Text alignment*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pixeloverlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top 0;
    left 0;
    background: url(images/pattern.png);
}

.hometext {
    color: white;
    letter-spacing: 4px;
    line-height: 50px;
    z-index: 1;
}

h1 {
    font-size: 40px;
    letter-spacing: 15px;
}

h2 {
    font-weight: 200;
}

/*Nav styling*/

nav {
    position: relative;
    width: 100vw; 
    max-width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #181818;
    padding: 0.5em 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    
}

nav ul li {
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 1em;
    letter-spacing: 3px;
}

.icon
{
    height: 45px;
    float: left;
	padding-left: 50px;
	padding-top: 2px;
}

/* Nav effect styling */

nav a{
	position: relative;
	display: inline-block;
	outline: none;
	color: #858585;
	text-decoration: none;
	font-weight: 200;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.hover_effect a::after{
    position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #92C575;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, 
    -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, 
    -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.hover_effect a:hover::after,
.hover_effect a:focus::after {
	height: 1px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/*About styling*/

h3 {
    
}
